[package]
name = "vellum-app"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
vellum-core = { path = "../vellum-core" }
crossterm = "0.21.0"
